<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Belajar Vue JS</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="libs/materialize/css/materialize.min.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="styles.css" rel="stylesheet">
    <script src="libs/vue.js" type="text/javascript"></script>
</head>
<body>

<!-- MENAMPILKAN DOM HTML BERDASARKAN KONDISI DATA TRUE ATAU FALSE -->
<div id="vue-app">
    <h1>Conditional DOM HTML Rendering</h1>
    <button v-on:click="setIsSukses()">Aktifkan Sukses</button>
    <button v-on:click="setIsError()">Aktifkan Error</button>

    <!--tampilkan jika sukses atau error-->
    <p v-if="isError">Error telah terjadi karena dimunculkan TRUE</p>
    <p v-if="isSukses">Sukses telah terjadi karena dimunculkan TRUE</p>
    
    <!-- hanya munculkan salah satu saja dengan v-else-->
    <h4>Conditional V-ELSE</h4>
    <p v-if="isError">Error telah terjadi karena dimunculkan TRUE</p>
    <p v-else>Sukses telah terjadi karena dimunculkan TRUE</p>

    <!-- menggunakan logika v-else-if untuk memunculkan tampilan-->
    <!-- nilai sukses di cek dulu sebelum di tampilkan, apakah true atau tidak-->
    <h4>Conditional V-ELSE-IF</h4>
    <p v-if="isError">Error telah terjadi karena dimunculkan TRUE</p>
    <p v-else-if="isSukses">Sukses dengan else if telah muncul dan bernilai TRUE</p>


    <!-- untuk menampilkan elemen DOM bisa dengan V-SHOW-->
    <!-- dengan v-show , elemen sudah pasti di render di html -->
    <!-- tapi statusnya menghilang atau muncul tergantung dari elemen CSS display yang diubah -  ubah -->
    <h4>Conditional V-SHOW</h4>
    <p v-show="isError" v-bind:class="compErrorCSS">Telah terjadi ERROR (true)</p>
    <p v-show="isSukses" v-bind:class="compSuksesCSS">Telah terjadi SUKSES (true)</p>


</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="libs/materialize/js/materialize.min.js"></script>
<script src="app.js"></script>
</body>
</html>